input:enabled {
    color: #2b2;
  }
  
input:disabled {
color: #aaa;
}

/* 라디오가 체크 됐을 때 라벨의 변화 */
input:checked + label {
    color: palevioletred;
    font-size: large;
    font-weight: bold;
}

/* 체크됐을 때, 라디오 엘리먼트 */
input[type="radio"]:checked {
    box-shadow: 0 0 0 3px orange;
}

input[type="checkbox"]:checked {
    box-shadow: 0 0 0 3px hotpink;
  }
  

/* 체크 됐을 때, 옵션 엘리먼트 */
option:checked {
    box-shadow: 0 0 0 3px lime;
    color: red;
  }